
@import url('https://fonts.google.com/specimen/Bungee+Shade#standard-styles');

@font-face {
    src:  url(/fonts/Bungee_Inline/BungeeInline-Regular.ttf);
    font-family: 'Bungee_Inline';
  }

  @font-face {
    src:  url(/fonts/Bungee_Shade/BungeeShade-Regular.ttf);
    font-family: 'Bungee_Shade';
  }

body{
    background-image: url(/images/background-3.jpg);
    background-size:cover;
    font-family: sans-serif;
}
h4{
    margin-right: 30px;
    font-family: 'Bungee_Inline';

}
.game-container{
    background-color: white;
    margin: auto;
    width: 70%;
    height:900px;
    margin-top: 80px;
    display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
}
.container,.game-container{
    border: 5px solid rgb(82, 38, 38);
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgb(247, 243, 243);
    height: 600px;
}
.letters-container, .img-word-container{
    background-color: white;
    border: 1px solid black;
    width: 1180px;
    height: 390px;
}
.img-word-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
svg{
    height: 400px;
}
.letters-container{
  padding: 70px 50px;
    display:inline;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 200px;
     
}

.letter{
    width: 50px;
    height: 50px;
    float: left;
    background-color: white;
    border: 3px solid black;
    text-align: center;
    font-size: 28px;
    margin: 5px 5px;
    font-weight: 600;
    font-family: 'Bungee_Shade';

   
}
.svg-container{
    float: left;
}
.secret-word-container{
    background-color: white;
    width: 800px;
    height: 200px;
    padding: 0 60px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
    
}
.container{
   
    margin: auto;
    margin-top: 150px;
    width: 40%;
    height:400px;
    background-color: rgba(255, 255, 255, 0.884);
   
}
.container h1{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bungee_Shade';
    font-size: 50px;
}
.container label{
    
   margin: auto;
   margin-left: 210px;
   margin-right: 10px;
   font-size: 17px;
   font-weight: bold;
   
  
}
input{
    margin-top: 20px;
}

.container input[type=submit]{
    display: block;
    margin-left: 280px;
    margin-top: 80px;
    width: 150px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
}

.secret-letter{
    font-weight: 600;
    font-size:25px;
    background-color:"white";
    border-bottom:solid #bf0000 4px;
    height:50px;
    width:50px;
    text-align:center;
}
#svg_5{
    stroke:#000000;
    height:2px;
    width:99px;
    stroke-opacity:unset;
    stroke-width:1.5px;
    fill:#000000; 
}
#svg_6{

    stroke:#000000;
    height:247px;
    width:3px;
    stroke-opacity:unset;
    stroke-width:1.5px;
    fill:#000000; 
}
#svg_7{

    stroke:#000000;
    height:0px;
    width:8px;
    stroke-opacity:unset;
    stroke-width:1.5px;
    fill:#000000; 
}
#svg_8{

    stroke:#000000;
    height:2px;
    width:97px;
    stroke-opacity:unset;
    stroke-width:1.5px;
    fill:#000000; 
}

#svg_9{

    stroke:#000000;
    height:35px;
    width:3px;
    stroke-opacity:unset;
    stroke-width:1.5px;
    fill:#000000; 
}

#svg_10{
    stroke:#bf0000;
    stroke-width:4px;
    fill:#ffffff; 
}

#svg_12{

    stroke:#bf0000;
    height:75.99999px;
    width:3px;
    stroke-opacity:unset;
    stroke-width:1.5px;
    fill:#bf0000; 
}

#svg_13{

    stroke:#bf0000;
    height:2.51816px;
    width:52.90417px;
    stroke-width:1.5px;
    fill:#bf0000; 
  
  
}

#svg_14{

    position: relative;
    stroke:#bf0000;
    height:2.48867px;
    width:49.25044px;
    stroke-width:1.5px;
    fill:#bf0000; 
    
 
}

#svg_15{

    stroke:#bf0000;
    height:2.87833px;
    width:59.09645px;
    stroke-width:1.5px;
    fill:#bf0000; 
}

#svg_16{

    stroke:#bf0000;
    height:2.87833px;
    width:59.09645px;
    stroke-width:1.5px;
    fill:#bf0000; 
}
